<footer class="footer bg-natural-95 border-top">
  <div class="container d-lg-flex align-items-lg-center justify-content-lg-between py-6 py-md-9">
    <nav>
      <ul class="nav justify-content-center justify-content-lg-start">
        <li class="nav-item">
          <a class="nav-link py-2 px-4 px-md-6 mb-2 mb-lg-0 fs-8 fs-md-7" href="#">服務方案</a>
        </li>
        <li class="nav-item">
          <a class="nav-link py-2 px-4 px-md-6 mb-2 mb-lg-0 fs-8 fs-md-7" href="#">關於職旅</a>
        </li>
        <li class="nav-item">
          <a class="nav-link py-2 px-4 px-md-6 mb-2 mb-lg-0 fs-8 fs-md-7" href="#">聯絡我們</a>
        </li>
        <li class="nav-item">
          <a class="nav-link py-2 px-4 px-md-6 mb-2 mb-lg-0 fs-8 fs-md-7" href="/pages/privacy.html">隱私權政策</a>
        </li>
        <li class="nav-item">
          <a class="nav-link py-2 px-4 px-md-6 mb-2 mb-lg-0 fs-8 fs-md-7" href="/pages/user-terms.html">用戶條款</a>
        </li>
      </ul>
    </nav>
    <p class="copyright-notice text-natural-50 fs-8 text-center">
      Copyright © 2025 職旅 workway. All rights reserved.
    </p>
  </div>
</footer>