@media (min-width: 992px) {
  .side-width {
    width: 300px;
  }
}

.user-btn {
  padding: 12px;
  padding-left: 20px;
  cursor: pointer;
}

.tab-btn-bg {
  .nav-link{
    background-color: $white;
  }
}

.modal-custom-width {
  max-width: 480px;
}

@media (min-width: 992px) {
  .lg-border {
    border: 1px solid $natural-85;
  }
}

.recodrHistory-list {
  padding-top: 10px ;
  padding-bottom: 10px ;
  color: $natural-50;
}